/*--primary-color: #AB4967;
  --secondary-color:#D9D0DE;
  --accent1-color: #0C1713;*/

/*font-family: 'Oleo Script Swash Caps', cursive;
  --font-family:'Courier New', Courier, monospace;*/

.profile {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

html {
    margin: auto;
    font-family: 'Oleo Script Swash Caps', cursive;
}

header {
    background-color: #AB4967;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer {
    background-color: #AB4967;
    text-align: center;
    padding: 1px;
}

main {
    font-family: 'Courier New', Courier, monospace;
}