a:link {
    color: pink;
    font-weight: bold;
}

a:visited {
    color:aquamarine;
}

 body {
     background-color: darkgrey;
     max-width: auto;
 }


main {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
    text-align:center;
}

header {
    background-color: #AB4967;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
}

footer {
    background-color: #AB4967;
    text-align: center;
    padding: 1px;
}

main {
    font-family:'Courier New', Courier, monospace;
}

img {
    max-width: 100%;
    height: auto;
}

#alignment, #repetition, #contrast {
color: white;
}
