html {
    max-width: 600px;
    margin: auto;
    font-family: 'Oleo Script Swash Caps', cursive;
    font: color white;
}

header {
    background-color: #AB4967;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
}

img {
    vertical-align: middle; 
}

footer {
    background-color: #AB4967;
    text-align: center;
    padding: 1px;
}

main {
    font-family:'Courier New', Courier, monospace;
}
