/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {

	h1 {
		font-size: 3rem;
	}

	nav ul li a {
		font-size: 1.5rem;
    }

	main {
		grid-template-columns: 1fr 1fr;
		font-size: 1.25rem;

	}

	article:nth-child(3) {
		grid-column: span 2;
	}

	main picture {
		display: block;
		margin: 1rem;
	}

	main picture img {
		width: 80%;
		height: auto;
		border: 1px solid #bbb;
	}

	main p {
		font-size: 2rem;
	}

	#colorscheme {
		grid-template-columns: 1fr 1fr;
	}

	#typography {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

