/* font-family: 'Maven Pro', sans-serif;
font-family: 'Unna', serif; */

/* colors
#2b1220 dark purple
#4f396a cyber grape
#b8bdb3 ash gray
#f9f3f1 snow */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Maven Pro', sans-serif;
	background-color:#f9f3f1;
}

/* phone or baseline views */
header,
footer {
	background-color: #4f396a;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-justify: center;
	padding: 10px;
	border: 2px solid #2b1220 (0, 0, 0, 0.1);
}

header,
main,
footer {
	margin: 0 auto;
	max-width: 960px;
}
h1 {
	font-size: 1.1rem;
	font-family: 'Unna', serif;
	text-justify: auto;
}
h2 {
	color: #2b1220;
	padding: 5px;
}

nav {
	background-color: #2b1220;
	margin: 0 auto;
	height: auto;
	max-width:960px;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {

	color: #f9f3f1;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	transition: 0.5s;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
	align-items: center;
}

main p{
	padding: 1rem;
	text-align: center;
}

main article {
	margin: 1rem;
	border: 1px solid darkgrey (0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #f9f3f1;
}

main picture {
	margin: 1rem;
	max-width: 70%;
    height: auto;
}


