/* font-family: 'Maven Pro', sans-serif;
font-family: 'Unna', serif; */

/* colors
#2b1220 dark purple
#4f396a cyber grape
#b8bdb3 ash gray
#f9f3f1 snow */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Maven Pro', sans-serif;
}

/* phone or baseline views */
header,
footer {
	background-color: #4f396a;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border: 1px solid #2b1220 (0, 0, 0, 0.1);
}

header,
main,
footer {
	max-width: 960px;
	margin: 0 auto;
}
h1 {
	font-size: 1.1rem;
	font-family: 'Unna', serif;
}
h2 {
	color: #2b1220;
}

nav {
	background-color: #2b1220;
	margin: 0 auto;
	max-width: 960px;
	box-shadow: 0 0 30px 220 #b8bdb3 (0, 0, 0, 0.9);
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #f9f3f1;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	transition: 0.5s;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main article {
	margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #f9f3f1;
}

main picture {
	display: none;
	margin: 1rem;
}

footer p {
	padding: .5rem;
}