a:link {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: purple;
    text-decoration: underline;
}

body {
    background-color: lightcyan;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    justify-content: center;
    margin: auto;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

footer,
header {
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: bold;
}

h2 {
    color: white;
    background-color: darkslategrey;
}

#alignment,
#contrast,
#repetition {
    background-color: darkgray;
    border: 2px solid black;
}

img {
    max-width: 80%;
    height: auto;
    margin: 3px;
}

@media only screen and (min-width: 37.5em) {

    main {
        grid-template-columns: 1fr 1fr;
    }

    #contrast {
        grid-column: span 2;
    }
}

@media only screen and (min-width: 60em) {

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #contrast {
        grid-column: span 1;
    }
}