body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    background-color: lightcyan;
    ;
}

h1 {
    text-align: center;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

section {
    background-color: darkslategrey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    margin: 1px;
}

img {
    max-width: 75%;
    height: auto;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 1, 1, 1);
}

footer,
header {
    background-color: #AB4967;
    text-align: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: bold;
}