@media only screen and (min-width: 37.5em) {

    h1 {
        font-size: 1.5rem;
    }

    nav ul {
        list-style-type: none;
        display: flex;
    }

    nav ul li {
        list-style-type: none;
        flex: 1 1 auto;
    }


    nav ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }

    nav a {
        list-style-type: none;
        font-size: 1rem;
    }

    nav a:hover {
        background-color: #333;
        /* or any color */
        color: #f9f3f1;
        transition: background-color 0.3s ease;
    }
}

main {
    grid-template-columns: 1fr 1fr;
    font-size: 1.25rem;

}

article:nth-child(3) {
    grid-column: span 2;
}

main picture {
    display: block;
}

main picture img {
    width: 80%;
    height: auto;
    border: 1px solid #bbb;
}

main iframe {
    display: block;
}