body,
header,
footer {
    width: 100%;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

body {
    background-color: lightcyan;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    margin: auto;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 15px;
    text-align: left;
}

footer,
header {
    background-color: #AB4967;
    text-align: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: bold;
}

nav {
    font-size: 25px;
    background-color: rgb(0, 0, 0);
    color: white;
    vertical-align: middle;
    text-align: center;
    list-style-type: none;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: black;
    color: white;
    margin: 0;
}

.navigation a {
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
    padding: 10px 0;
    margin-bottom: 5px;
}

.navigation a:hover {
    background-color: lightgray;
    color: darkslategray;
    font-weight: 700;
}


h2 {
    color: black;
    text-align: center;
    padding-top: 10px;
}

h3 {
    color: white;
    background-color: darkslategrey;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

.hero img {
    width: 100%;
    height: auto;

}

.heroLabel {
    position: absolute;
    top: 20%;
    left: 27%;
    transform: translate(-20%, -27%);
    background: white;
    border: 1px solid black;
    padding: 2rem;
    opacity: 0.75;
    max-width: 90%;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.5rem;
}

.heroLabel p {
    margin: 0;
}

.card {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#menu {
    font-size: 25px;
    line-height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    vertical-align: middle;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    padding: 10px;
}


@media only screen and (max-width: 768px) {

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "✖️";
    }

    .navigation {
        flex-direction: column;
    }

    .navigation a {
        display: none;
    }

    .open a {
        display: block;
    }

    .active::before {
        content: "❤️";
    }

    #menu:hover {
        background-color: lightgray;
    }

    .heroLabel {
        max-width: 90%;
        padding: 1.5rem;
    }

    .heroLabel p {
        font-size: 1.2rem;
    }
}