/*Color Pallette 
#E08724
#e7b479
#E04F00
#E00707
#9E0505
#E3B49A
#22A86B
#1D4542
#771E78
#E5DDDD
#24060E
fonts: silver northern titles, logos

*/

/*=================
    Global Styles
  =================*/
* {
    width: 100%;
}

:root {
    --primary-color: #1D4542;
    --secondary-color: #e7b479;
    --font-size-base: 20px;
}

body {
    background-color: #e7b479;
    color: #24060E;
    text-align: center;
    text-decoration: none;
}

header h1 {
    font-size: 70px;
    padding-top: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 50px;
    background-color: #22A86B;
}

h3 {
    font-size: 35px;
}

nav {
    font-size: 25px;
    background-color: #700e0e;
    color: #E5DDDD;
    vertical-align: middle;
    text-align: center;
    list-style-type: none;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #24060E;
    color: white;
    margin: 0;
    padding: 10px 0 10px;

}

.navigation a {
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
    padding: 10px 0;
    margin-bottom: 5px;
}

.navigation a:hover {
    background-color: lightgray;
    color: darkslategray;
    font-weight: 700;
}

.closeable-message button {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}


.closeable-message {
    background-color: #E04F00;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    border-radius: 0px 0px 10px 10px;
}



/* ================
   Layout Styles
   ================ */
header,
footer {
    background-color: #1D4542;
    color: #E5DDDD;
    text-align: center;
    padding: 1rem;
}

img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.rentals img {
    max-width: 20%;
}

.rentals li {
    padding: 1em 0 3em;
    list-style-type: none;
}

#weather-icon {
    width: 80px;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: left;
    justify-items: center;
}

.rental-agreement,
.reservation-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-grid label {
    font-weight: bold;
}

.form-grid legend {
    font-weight: bold;
}


.form-grid input,
.form-grid select,
.form-grid textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1rem;
}

.form-grid textarea {
    resize: vertical;
    height: 100px;
}

.submit-btn {
    grid-column: span 2;
    padding: 15px;
    background-color: #072f5a;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #4f8bcb;
}

.rental-type {
    grid-column: span 2;
    margin-bottom: 20px;
}

.rental-type legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.radio-option {
    display: inline-block;
    margin-right: 20px;
}

.radio-option input {
    margin-right: 5px
}

.radio-option label {
    font-size: 1rem;
    font-weight: normal;
}

/* ================
   Media Queries
   ================ */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }

    .radio-option {
        display: block;
        margin-bottom: 10px;
    }
}