/*Color Pallette 
#E08724
#e7b479
#E04F00
#E00707
#9E0505
#E3B49A
#22A86B
#1D4542
#771E78
#E5DDDD
#24060E
fonts: silver northern titles, logos

*/

/*=================
    Global Styles
  =================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1D4542;
    --secondary-color: #e7b479;
    --font-size-base: 20px;
}

body {
    background-color: #e7b479;
    color: #24060E;
    text-align: center;
    text-decoration: none;
}

header h1 {
    font-size: 70px;
    padding-top: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 50px;
    background-color: #22A86B;
}

h3 {
    font-size: 35px;
}

nav {
    font-size: 25px;
    background-color: #700e0e;
    color: #E5DDDD;
    vertical-align: middle;
    text-align: center;
    list-style-type: none;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #24060E;
    color: white;
    margin: 0;
    padding: 10px 0 10px;

}

.navigation a {
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
    padding: 10px 0;
    margin-bottom: 5px;
}

.navigation a:hover {
    background-color: lightgray;
    color: darkslategray;
    font-weight: 700;
}

.closeable-message button {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}


.closeable-message {
    background-color: #E04F00;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    border-radius: 0px 0px 10px 10px;
}

footer {
    color: white;
    font-size: 20px;
    align-content: center;
    text-align: center;
}



/* ================
   Layout Styles
   ================ */
header,
footer {
    background-color: #1D4542;
    color: #E5DDDD;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 20px;
}

img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.rentals img {
    max-width: 20%;
}

.rentals li {
    padding: 1em 0 3em;
    list-style-type: none;
}

#weather-icon {
    width: 80px;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: left;
    justify-items: center;
}

.rental-agreement {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: .5rem 2%;
    justify-items: center;
}

.cf1 legend {
    color: #24060E;
    padding: 0.5rem;
    font-size: 1.8rem;
}

.cf1 label {
    display: block;
    padding-top: 1rem;
    color: #2b1220;
    font-size: .9rem;
}

.cf1 input[type="text"],
.cf1 input[type="tel"],
.cf1 input[type="email"],
.cf1 input[type="number"] {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.cf1 input[type="radio"],
.cf1 input[type="checkbox"] {
    margin-right: 6px;
}

.cf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#22A86B, #1D4542);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 4px 4px #999;
}

.cf1 input:required {
    border-right: solid 8px rgb(113, 15, 15);
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* ================
   Media Queries
   ================ */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }

    .radio-option {
        display: block;
        margin-bottom: 10px;
    }
}